Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 3838 766 628 742

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/ICer/myprj/rv32e_pipeline/sim/rv32e_pipeline.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 873183.310345
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 9

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "ifu"
activeDirFile "" "/home/ICer/myprj/rv32e_pipeline/sim/rv32e_pipeline.fsdb"
addSignal -h 15 /ysyx_23060072_tb/u_core/if_stage/ifu/instr_addr_i[31:0]
addSignal -h 15 -holdScope inst_rdata_o[31:0]
addGroup "G2"
addSignal -h 15 /ysyx_23060072_tb/u_core/if_stage/ifu/rom[255:0]
addSubGroup "if_stage"
addSignal -h 15 /ysyx_23060072_tb/u_core/if_stage/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope pc_next[31:0]
addSignal -h 15 -holdScope pc_reg[31:0]
addSignal -h 15 -holdScope instr_rdata_o[31:0]
addSignal -h 15 /ysyx_23060072_tb/u_core/id_stage/instr_rdata_i[31:0]
addSignal -h 15 -holdScope alu_op_o[4:0]
addSignal -h 15 /ysyx_23060072_tb/u_core/id_stage/decoder/instr_rdata_i[31:0]
endSubGroup "if_stage"
addGroup "G3"
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

